
.link{
    color:black;
}
.link:hover{
    color :rgb(0,0,100);
 
    font-size: 20px;
    transition-duration: .5s;
}
label{
    font-size: 20px;
    color:rgb(0,0,0);
}
input{
    font-size: 20px;
    color:rgb(0,0,0);
    border-radius : 10px;

}
input:hover{
    font-size: 20px;
    color:rgb(0,0,0);
    box-shadow: 0px 0px 15px rgb(0,0,255);
    
    transition-duration: .27s;
}
.form-div{
    background-color: rgb(200,200,200);
    margin-left: 10%;
    margin-top: 10%;
    padding: 10px;
    width: 80%;
}

