.formView {
    border: 2px solid black;
    padding: 15px;
    margin: 20px;
    margin-bottom: 30px;
}

.inputContainer {
    padding: 10px;
    margin: auto;
    width: 50%;
    border: 2px solid rgb(20, 241, 0);
}

input[type="text"] { 
    margin: auto;
    padding: 20px 10px; 
    line-height: 28px;
    text-align: center;
}

.homeButton {
    margin: 10px;
    float: left;
}

.submitButton {
    margin: 10px;
    float: right;
}
p{
    text-align: center;
}