.formView {
    padding: 15px;
    margin: 20px;
    margin-bottom: 30px;
    background-color: #234099;
}

.inputContainer {
    padding: 10px;
    margin: auto;
}

input[type="text"] { 
    margin: auto;
    padding: 20px 10px; 
    line-height: 28px;
    text-align: center;
}

input[type="number"] { 
    margin: auto;
    padding: 10px; 
    line-height: 8px;
    text-align: center;
}

.inputSearch[type="text"] {
    margin: auto;
    margin-left: 5px;
    padding: 5px; 
    line-height: 28px;
    text-align: center;
    background-color: #20dbc2;
}
.inputSearch[type="text"]:hover {
    background-color: #00bfa6;
    box-shadow: 2px 2px 8px #000;
}
