.item{
    background-color: #234099;
    margin: 10px;
    width: 60%;
    border-radius: 5px;
    padding: 10px;
}
.item:hover{
    box-shadow: 2px 2px 8px #000;
}
.item img{
    width:200px;
    margin-left: 10px;
}
.item p{
    font-size: 20px;
    margin: 10px;
    color: white;
}
.item a{
    font-size: 20px;
    margin: 10px;
    color: blue;
}

.item div{
    padding: 10px;
}
