.item {
    border: 2px solid black;
    margin: 5px;
}

.link { 
    text-decoration: none;
}

.image{
    display: inline-flex;
    height: 100px;
    max-width: 100px;
}

.text {
    margin: auto;
    text-align: center;
    color: white;
}