.item {
    border: 2px solid black;
    background-color: #234099;
    margin: 5px;
}

.link { 
    text-decoration: none;
    color: #20dbc2 !important;
}
.link:hover { 
    color: #00bfa6 !important;
    text-shadow: 2px 2px 5px #000;
}
.image{
    display: inline-flex;
    height: 100px;
    max-width: 100px;
    transform: translate(-15px,-10px);
}

.imageSelected{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    max-width: 100px;
}

.text {
    margin: auto;
    text-align: center;
    color: white;
}